<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<!--  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/ajaxEstado.js}"></script>-->
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" style="text-align: center;">
			<h1  th:text="#{title.label}"></h1>
			<img alt="" th:src="@{/image/image.png}" style="width:500px;">
		</div>

		
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{profissional.nome.label}"></th>
							<th th:text="#{profissional.area.label}"></th>
							<th th:text="#{profissional.especialidade.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profissional : ${profissionais}">
							<td th:text="${profissional.id}"></td>
							<td th:text="${profissional.nome}"></td>
							<td th:text="${profissional.area}"></td>
							<td th:text="${profissional.especialidade}"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		
		<br>
		<div class="container" id="filtro">
			<form th:action="@{/homecontroller/}" th:object="${profissionais}" method="GET" >
				<div class="form-row">
						<input type="text" class="form-control" name="area" id="area" th:placeholder="#{profissional.area.label}"   /></br>
				</div></br> 
				<!--  
				<label th:text="#{profissional.area.label}" for="nome"></label> 
				<select id="area" name="area"
					class="form-control">
					<c:forEach items="${areas}" var="area">
						<option value="${area}"
							th:text="${area}">
						</option>
					</c:forEach>
				</select>
				
				<label th:text="#{profissional.especialidade.label}" for="nome"></label> 
				<select id="especialidade" name="especialidade"
					class="form-control">
					<c:forEach items="${especialidades}" var="especialidade">
						<option value="${especialidade}"
							th:text="${especialidade}">
						</option>
					</c:forEach>
				</select>
				-->
				<button type="submit" th:text="#{button.salvar.label}" class="btn btn-primary btn-sm"></button>
				
			</form>
			
			
			
			
			
			
		</div>
		
		
		
	</section>
</body>
</html>