<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" style="text-align: center;">
			<h1  th:text="#{title.label}"></h1>
			<img alt="" th:src="@{/image/image.png}" style="width:500px;">
		</div>

		
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{profissional.nome.label}"></th>
							<th th:text="#{profissional.area.label}"></th>
							<th th:text="#{profissional.especialidade.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profissional : ${profissionais}">
							<td th:text="${profissional.nome}"></td>
							<td th:text="${profissional.area}"></td>
							<td th:text="${profissional.especialidade}"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		
	</section>
</body>
</html>